@page "/fetchdata"
@using BlazorLearaning.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)  //sayada kısa bi loading süresi set edilinceye kadar geçe süre
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()  //OnInitializedAsync sayfa tetiklendiği anda ilk geldiği andaki 
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");  
        //json formatında veiyi al demiş oldum . WeatherForecast adresine git.WeatherForecast[] listesine verileri al.
        //WeatherForecast server altında. (gidip verileri serverdan aldı.)
    }

}
